[Desktop Entry]
Encoding=UTF-8
Name=Link to (5) AmboVent Demonstration - YouTube
Type=Link
URL=https://youtu.be/RjRERgcYZeg
Icon=text-html
Name[en_US]=YouTube AmboVent Demo
